{% extends 'layout.twig' %}

{% block title %}Page introuvable{% endblock %}

{% block content %}

    <h1>Ouupss !!</h1>
    <div class="row section">
        <p>Une erreur est survenue au niveau du serveur....</p>
        <p>{{ error }}</p>
    </div>


{% endblock %}