{% extends 'layout.twig' %}
{% import 'form.twig' as form %}

{% block title %}Modification{% endblock %}

{% block content %}

    {% if error %}

        <div class="bg-danger text-white">
            <p>Une erreur est survenue lors de l'enregistrement !</p>
        </div>

    {% endif %}
    <form action="http://{{ server }}/Comment/updateComment/{{ id }}" method="post">
        <div class="row">

            {{ form.textarea('message', 'Votre commentaire', 'Ecrivez votre message', content ) }}

        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Envoyer</button>
        </div>
    </form>

{% endblock %}