{% extends 'layout.twig' %}
{% import 'form.twig' as form %}

{% block title %}Connexion{% endblock %}

{% block content %}

    {% if valid %}
        <div class="bg-success text-white">
            <p>Vous avez bien été enregistré, veuillez vous connecté !</p>
        </div>
    {% endif %}

    <h1>Connexion</h1>

    <form action="http://{{ server }}/Auth/login" method="post">
        <div class="row">

            {{ form.input('identifiant', 'Identifiant', 'email', 'Votre Email') }}

        </div>
        <div class="row">

            {{ form.input('password', 'Mot de passe', 'password', 'Votre mot de passe') }}

        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Envoyer</button>
        </div>

        {% if notValid %}
            <div class="bg-danger text-white">
                <p>L'identifiant ou le mot de passe sont incorrect</p>
            </div>
        {% endif %}

        <div class="form-group">
            <a href="http://{{ server }}/Auth/register">Créer un compte</a>
        </div>
    </form>


{% endblock %}