{% extends 'layout.twig' %}
{% import 'form.twig' as form %}

{% block title %}Connexion{% endblock %}

{% block content %}

    {% if valid %}
        <div class="section">
            <p class="bg-success text-white text-center">Vous avez bien été enregistré, veuillez vous connecté !</p>
        </div>
    {% endif %}
    {% if notValid %}
        <div class="section">
            <p class="bg-danger text-white text-center">L'identifiant ou le mot de passe sont incorrect</p>
        </div>
    {% endif %}

    <h2 class="section-title"><span>Connexion</span></h2>

    <form action="http://{{ server }}/Auth/login" method="post">
        <div class="form-group col-sm-6 col-sm-offset-3 col-lg-4 col-sm-offset-4">

            {{ form.input('identifiant', 'Identifiant', 'email', 'Votre Email') }}

        </div>
        <div class="form-group col-sm-6 col-sm-offset-3 col-lg-4 col-sm-offset-4">

            {{ form.input('password', 'Mot de passe', 'password', 'Votre mot de passe') }}

        </div>
        <div class="form-group col-sm-6 col-sm-offset-3 col-lg-4 col-sm-offset-4">
            <button type="submit" class="btn btn-primary">Envoyer</button>
        </div>

        <div class="form-group col-sm-6 col-sm-offset-3 col-lg-4 col-sm-offset-4">
            <a href="http://{{ server }}/Auth/register">Créer un compte</a>
        </div>
    </form>


{% endblock %}