{% extends 'layout.twig' %}

{% block title %}post{% endblock %}

{% block content %}

    {% for thePosts in thePost %}

    <h1>{{ thePosts.title }}</h1>

        <p>écrit par {{ thePosts.user_id }}</p>

    {% endfor %}

{% endblock %}