{% extends 'layout.twig' %}
{% import 'form.twig' as form %}

{% block title %}Profile{% endblock %}

{% block content %}

    {% if confirm %}
        <div class="bg-success text-white">
            <p>Vos informations ont bien été mis à jour !</p>
        </div>
    {% endif %}

    <h1>Profile</h1>

    <form action="http://localhost:8000/Admin/checkMailProfile" method="post">
        <div class="row">

            {{ form.input('identifiant', 'Changer d\'Email', 'email', 'Nouveau Email', value) }}

        </div>
        {% if noEmail %}
            <div class="bg-warning text-white">
                <p>Cet Email existe déja !</p>
            </div>
        {% endif %}

        <div class="form-group">
            <button type="submit" class="btn btn-primary">Enregistrer</button>
        </div>
    </form>

    <form action="http://localhost:8000/Admin/checkPassProfile" method="post">
        <div class="row">

            {{ form.input('password', 'Nouveau mot de passe', 'password', 'Votre nouveau mot de passe') }}

        </div>
        <div class="row">

            {{ form.input('confirme', 'Confirmation du nouveau mot de passe', 'password', 'Confirmation') }}

        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Enregistrer</button>
        </div>

        {% if valid %}
            <div class="bg-danger text-white">
                <p>les mots de passe ne correspondent pas !</p>
            </div>
        {% endif %}
        {% if noValid %}
            <div class="bg-danger text-white">
                <p>Les champs doivent avoir au moins 4 caractères et sans espace !</p>
            </div>
        {% endif %}
        {% if space %}
            <div class="bg-warning text-white">
                <p>Les champs ne doivent pas contenir d'espaces</p>
            </div>
        {% endif %}
    </form>

    <form action="http://localhost:8000/Admin/avatar" method="post" enctype="multipart/form-data">
        <div class="row">
            <div class="form-group">
                <label for="avatar">Choisir un avatar</label>
                <input type="file" class="form-control-file" id="avatar" name="avatar">
            </div>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Enregistrer</button>
        </div>

        <div class="form-group">
            <img src="../images/avatar/{{ avatar }}" alt="" width="50px" height="50px">
        </div>



        {% if error %}
            <div class="bg-warning text-white">
                <p>Une erreur est survenue lors du transfert</p>
            </div>
        {% endif %}
        {% if size %}
            <div class="bg-danger text-white">
                <p>Le fichier est trop volumineux, maximum 500Ko</p>
            </div>
        {% endif %}
        {% if ext %}
            <div class="bg-danger text-white">
                <p>Le fichier n'est pa une image, extension accepté: .jpg, .jpeg, .gif, .png</p>
            </div>
        {% endif %}
    </form>


{% endblock %}